/*-----FONT-----*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*----COLORES----*/

:root{
    /*COLORES BODY*/
    --color-primary: #FF6B35; /*Header, botones y detalles importantes*/
    --color-bg: #FAFAFA; /*Color body fondo*/
    --color-text: #2D2D2D; /*Color texto general*/
    --color-text-header: #ebebeb; /*Color texto del header*/
    --color-card: #FFFFFF; /*Color tarjeta*/
    --font-main: 'Inter', sans-serif; /*Fuente general*/

}


/*----RESET BÁSICO---*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*----ESTILOS BÁSICOS----*/

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-main);
}

main{
    flex: 1;
}


/*----ESTILOS HEADER----*/

header{
    background-color: var(--color-primary);
}

.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    color: var(--color-text-header);
    padding: 10px;
}


/*-----ESTILOS PRODUCT LIST----*/